*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header{
    background-color: black;
    position: absolute;
    height: 5%;
    width: 99%;
}
.span{
    color: white;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.span1{
    color: white;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
i{
    color: red;
    margin-left: 5%;
    margin-top: 8px;
}
.nav{
    position: relative;
    height: 20px;
    width: 50%;
    margin-left: 80%;
    bottom: 26px;
    
}
.header{
    background-color: gray;
    position: absolute;
    top: 5%;
    height: 11%;
    width: 99%;
    
}
.head{
    color: white;
    margin-left: 8%;
    margin-top: 15px;
}
.main{
    position: absolute;
    height: 30%;
    width: 70%;
    bottom: 61px;
    left: 38%;
}
.main a{
    color: white;
    font-size: larger;
    padding: 30px;
}
.main li{
    display: inline-flex;
}
.main a:hover {
    background-color: black;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .header a.active {
    background-color: black;
    color: white;
    padding: 29px;
  }   